.form{
    border: 1px solid rgb(161, 161, 201);
    width: 50%;
    min-height: 500px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    background-color:aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px 3px blue;
}
table td,th{
    border: 1px solid black;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
}
.form button{
    background-color: green;
    color: white;
    border: 1p solid green;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.form input,#type{
    height: 30px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.foot{
    justify-content: flex-end;
    margin-top: 50px;
    float: right;
}
